<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <div class="row">
            <h1>Edit user</h1>
            <form action="/edituser_todb" method="post">
                <div class="mb-3">
                    <label for="">first name:</label>
                    <input type="text" name="firstname" id="firstname" value="{{ name[1] }}">
                </div>

                <div class="mb-3">
                    <label for="">last name:</label>
                    <input type="text" name="lastname" id="lastname" value="{{ name[2] }}">
                </div>

                <div class="mb-3">
                    <label for="">email:</label>
                    <input type="text" name="email" id="email" value="{{ name[3] }}">
                </div>

                <input type="hidden" name="idmemo" id="idmemo" value="{{ name[0] }}">

                <!-- submit button -->
                <button type="submit">Edit user</button>
            </form>
        </div>

    </div>


    
</body>
</html>